.footer
  padding 0 20px
  &__content
    width 50%
    display inline-block
    font-size 1.3rem
  &__link
    text-decoration none
    color inherit
  &__separator
    display inline-block
    padding 0 5px