// Header styles
.header
  position absolute
  padding: 20px 15px;
  width 100%
  top 0
  z-index: 10
  &__menu-wrapper
    display inline-block
    width 100%
  &__logo
    width 24%
    display: inline-block
    vertical-align middle
