// Header styles
.header
  position absolute
  margin: 0 15px;
  top 0
  &__menu-wrapper
    display inline-block
    width 100%
  &__logo
    width 24%
    display: inline-block
    vertical-align middle
    padding-bottom: 15px