.link
  color #000
  text-decoration none
  &.__color-white
    color white
  &.__link-article
    border-bottom 3px solid #68f3c8
  &.__link-post
    .link__item-top
      display block
      color #0e364f
      font-family 'Droid Serif', serif
      font-size 6rem
      font-weight bold
    .link__item-middle
      margin-top -20px
      display block
      font-family 'Permanent Marker', cursive
      font-size 6rem
      color #0e364f
  &.__link-spot
    text-align center
    vertical-align middle
    line-height 4.2rem
    display inline-block
    background-image url('/assets/image/more-bg.png')
    width 105px
    height 44px
    background-size contain
