// Logo styles
.logo
  &.__header
    .logo__link
      font-size 1.4rem
      width 150px
      height 36px
      text-decoration none
      color #f7f7f7
      border-bottom 0
      transition all .2s
      &:hover
        color: #0e364f;