// Menu styles
.menu
  width 100%
  text-align right
  &__item-wrapper
    position relative
    display inline-block
    list-style none
    padding 10px 15px
    height 45px
    &:last-child
      padding-right 0
  &__item
    display: inline-block
    color #fff
    text-decoration: none
    font-size 1.4rem
    border-bottom-width 0
    border-bottom-style solid
    border-bottom-color #68f3c8
    transition all .2s
    &:hover
      border-bottom-width 3px

  &.__position-default
    width 75%
    vertical-align middle
    display inline-block
  &.__position-footer
    display inline-block
    width 50%
    .menu__item
      color black
