//- Menu items mixin
mixin menu(items, classMenu)
  .menu(class=classMenu)
    .menu__wrapper
      each link, textItem in items
        li.menu__item-wrapper
          a.menu__item.link.__link-menu(href=link)= textItem
      block
