//-
   Main config file for app

//- Main menu items
- var topMenu = {'install': '#', 'tutorial': '#', 'docs': '#', 'guide': '#', 'sign in': '#'}

//- Main menu items
-
  var mainMenu = {
    'Why Meteor?': '#',
    'Develop': '#',
    'Apps': '#',
    'Community': '#',
    'Blog': '#',
    'Services': '#',
    'About': '#'
  }
