//-
   Main config file for app

//- Main menu items
-
  var mainMenu = {
    'Home': '#',
    'Art': '#',
    'Travelling': '#',
    'Style Guide': '#',
  }

//- Footer menu items
-
  var footerMenu = {
    'Home': '#',
    'Art': '#'
  }

- var siteName = 'Alfred Adler'
