include config
include ../mixin/main

doctype
html
  head
    meta(charset="utf-8")
    block title
      title Layout Page

    block script
      script(type="text/javascript", src="script/all.js")

    block style
      link(rel="stylesheet", media="all", href="css/build.css")

  body
    block body
