extends ../base/main

block content
  #start-page.content
    .article
      .article-head-block
        .article-head-block__image.util__table-block
          .article-head-block__title.util__wrapper
            .article-caption.__big-head-text
                .article-caption__item-top.
                  Swimming
                .article-caption__item-middle.
                  the road
            .article-caption.__categories-text
              .article-caption__category
                a.link.__color-white(href="#") Travelling
              .article-caption__date March 15, 2015
      .article__wrapper
        p.article-text.__head-text.
          I think it as endless as a white-haired old man, an old woman going greener with the mowing and the grass. By which I mean everything absolute and blendered. Nothing escaping the swirl of experience.
        h2.article-caption.
          The Shadow of the Valley
        p.article-text
          | In the last decades interest in hunger artists has declined consider whereas in  earlier days  there was good money to be earned putting on major productions of this sort under one's own management, nowadays that is totally not&nbsp;
          a.link.__link-article(href="#") impossible
          | . Those were different times. magna aliqua.
      .article-image
        img.article-image__image(src="/assets/image/ghost-mountain-2-1024x589.jpg")
        .article-image__description.
          No one is free, even the birds are chained to the sky.
      .article__wrapper
        p.article-text.
          In the last decades interest in hunger artists has declined consider whereas in  earlier days  there was good money to be earned putting on major productions of this sort under one's own management, nowadays that is totally impossible. Those were different times.
        p.article-text.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
      .article-blockquote
        .article-blockquote__content.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
      .article__wrapper
        h2.article-caption.
          The Island Mystery
        p.article-text.
          The island was very plain with a mountain at center. The beach was clean and lined with manicured palm trees. As you moved from the water the trees grew dense, giving way to cliffs of jagged rock.
      .article-image
        img.article-image__image(src="/assets/image/ghost-mountain-3.jpg")
        .article-image__description.
          This is a centered caption
      .article__wrapper
        p.article-text.
          Those were different times magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        p.article-text.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
