extends ../base/main

block content
  #start-page.content
    .article
      .article-head-block
        .article-head-block__image.util__table-block
          .article-head-block__title.util__wrapper
            .article-caption.__categories-text
              .article-caption__category
                a.link.__color-white(href="#") Travelling
              .article-caption__date March 15, 2015
            .article-caption.__big-head-text
                .article-caption__item-top.
                  Swimming
                .article-caption__item-middle.
                  the road
            .article-caption.__text.util.__max450.
              Nothing escaping the great distance of stars. The great closeness of each other when we bend to help each other.

    .posts
      .posts__content-wrapper
        .posts__title
          a.link.__link-post(href="#")
            span.link__item-top The Ghost
            span.link__item-middle Mountain
        .posts__image
          img.image.__image-post(src="assets/image/ghost-mountain-2-1024x589.jpg")
        .posts__content
          .posts__text Earth and sky, woods and fields, lakes and rivers, the mountain and the sea, are excellent schoolmasters, and teach some of us more than we can ever learn from books. It is not the mountain we conquer but ourselves.
          .posts__link-spot
            a.link.__link-spot(href="#") Read more
          .posts__control.grid
            .posts__categories.article-caption.__no-margin.__categories-text.__dark-background.grid__col.__col50
              .article-caption__category
                a.link(href="#") Travelling
              .article-caption__date March 15, 2015
            .posts__comment-link.grid__col.__col50
              i.fa.fa-comments.posts__comment-link__icon
              a.link(href="#") Leave a comment
      .posts__content-wrapper
        .posts__title
          a.link.__link-post(href="#")
            span.link__item-top The Ghost
            span.link__item-middle Mountain
        .posts__image
          img.image.__image-post(src="assets/image/ghost-mountain-2-1024x589.jpg")
        .posts__content
          .posts__text Earth and sky, woods and fields, lakes and rivers, the mountain and the sea, are excellent schoolmasters, and teach some of us more than we can ever learn from books. It is not the mountain we conquer but ourselves.
          .posts__link-spot
            a.link.__link-spot(href="#") Read more
          .posts__control.grid
            .posts__categories.article-caption.__no-margin.__categories-text.__dark-background.grid__col.__col50
              .article-caption__category
                a.link(href="#") Travelling
              .article-caption__date March 15, 2015
            .posts__comment-link.grid__col.__col50
              i.fa.fa-comments.posts__comment-link__icon
              a.link(href="#") Leave a comment
      .posts__content-wrapper
        .posts__title
          a.link.__link-post(href="#")
            span.link__item-top The Ghost
            span.link__item-middle Mountain
        .posts__image
          img.image.__image-post(src="assets/image/ghost-mountain-2-1024x589.jpg")
        .posts__content
          .posts__text Earth and sky, woods and fields, lakes and rivers, the mountain and the sea, are excellent schoolmasters, and teach some of us more than we can ever learn from books. It is not the mountain we conquer but ourselves.
          .posts__link-spot
            a.link.__link-spot(href="#") Read more
          .posts__control.grid
            .posts__categories.article-caption.__no-margin.__categories-text.__dark-background.grid__col.__col50
              .article-caption__category
                a.link(href="#") Travelling
              .article-caption__date March 15, 2015
            .posts__comment-link.grid__col.__col50
              i.fa.fa-comments.posts__comment-link__icon
              a.link(href="#") Leave a comment



