//
   Created by admin on 12.03.2016.
doctype
html
  head
    // bower:css
    // endbower
    script(type="text/javascript", src="script/all.js")
  body
    .container(ng-app="app")
      test-attr
    // bower:js
    // endbower
