.util
  &__table-block
    display table
    .util__wrapper
      display table-cell
      vertical-align: middle
      &.__v-top
        vertical-align: top
      &.__v-bot
        vertical-align: bottom
  &.__max400
    max-width 400px

  &.__max450
    max-width 400px
