//- Footer
.footer
  .footer__content
    a.footer__link.link(href='#').
      Proudly powered by NodeJS
    span.footer__separator |
    span.footer__text.
      Theme: Adler by PixelGrade.
  +menu(footerMenu, '__position-footer')
