header.header
  +menu(topMenu, '__position-top')
  .header__menu-wrapper
    .header__logo
      .logo.__header
        a.logo_link.link.__image-link(href="#")
          img.logo__image(src="./assets/meteor-logo-white.png")
    +menu(mainMenu, '__position-default')
